<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div v-html="htmlData"></div>
        <p> {{count}} </p>
        <p v-text="count"></p>
        <button @click="increment">+</button>
        <button @click="decrement">-</button>

        <p v-show="showFalse">Show is false</p>
        <p v-show="showTrue">Show is true</p>

        <br>
        <input type="text" v-model="name">
        <p>Name: {{ name }}</p>
        <br>
        <ul>
            <li v-for="(item, index) in list">
                {{ item }}
            </li>
        </ul>
    </div>
</body>

</html>